@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Opensans;
    src: url(../../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: GreatVibes;
    src: url(../../fonts/GreatVibes/GreatVibes-Regular.ttf);
}