@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/setup/_typography.scss";
@import "../../../assets/styles/setup/_variables.scss";

.ps {
  height: 90vh;
}

@include for-Hnormal-layout {
  .ps {
    height: 93.6vh;
  }
}

.weather-page {
  @include for-Hnormal-layout {
    margin: 0;
    height: 93.6vh;

    @include for-normal-layout {
      margin: 150px auto;
      height: auto;
    }
  }

  .weather-container {
    background-image: url('../../../assets/background/appBG.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    @include for-Hnormal-layout {
      height: 93.6vh;
    }

    &.lightTheme {
      background-color: rgba(221, 221, 221, 0.9);
      color: black;

    }

    &.darkTheme {
      background-color: rgba(37, 37, 37, 0.8);
      color: rgb(185, 185, 185);
    }

    @include for-normal-layout {
      margin: 20px auto;
      max-width: 800px;
      border-radius: 10px;
      height: auto;
      max-height: 80vh;
    }

    @include for-wide-layout {
      max-width: 800px;
      margin: 20px auto;
    }
  }

  .futureWeather-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;

    @include for-narrow-layout {
      flex-direction: row;
    }

    @include for-normal-layout {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &.lightTheme {
      background-color: rgba(180, 180, 180, 0.5);
    }

    &.darkTheme {
      background-color: rgb(28 31 32 / 90%);
    }
  }
}
